.container{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px,200px);
    grid-gap: 0px;
}

.main {
    grid-column: 2/7;
    grid-row: auto;
    background-color: white;
}

.left {
    grid-column: 1/2;
    grid-row: auto;
}

.right {
    grid-column: 7/8;
    grid-row: auto;
}

.flex-grid {
    display: flex;
}

.col {
    flex: 1;
}

@media (max-width: 700px) {
    .right {
      display: none;
    }
    .left {
        display: none;
    }
    .flex-grid {
        display: block;
    }
  }